@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v22-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v22-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v22-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v22-latin_cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/raleway-v22-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v22-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v22-latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v22-latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v22-latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v22-latin_cyrillic-300.svg#Raleway') format('svg'); /* Legacy iOS */
  }


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v20-latin_cyrillic-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v20-latin_cyrillic-700.woff') format('woff');
  }

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header .container {
    display: inline-block;
    text-align: center;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #152B3C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headline {
    font-weight: 300;
    font-size: 42px;
    line-height: 50px;
    font-family: 'Raleway';
    color: #FBF2DA;
    /* padding: 25.5px 127px 25.5px 0; */
    margin: 0;
    display: inline-block;
}

.main-nav {
    text-align: center;
    display: inline-block;
    /* padding-right: 127px; */
}

.main-nav ul {
    margin: 0;
    padding: 0;
}

.main-nav li {
    display: inline-block;
}

.main-nav a {
    text-decoration: none;
    color: #FBF2DA;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    display: block;
    padding: 33.5px 30px 33.5px 0;
}

.main-nav a:hover {
    color: #D46240;
}

.main-nav .active {
    color: #D46240;
}

.phone-number {
    color: #FBF2DA;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
}

.promo {
    background-image: url(../images/bg-sand-castle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-title {
    font-weight: 300;
    font-size: 116px;
    line-height: 136px;  
    text-align: center; 
    padding-top: 191px;
    margin: 0;
    font-family: 'Raleway';
    color: #fff;
}

.promo p {
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 235px;
    color: #fff;
    margin: 0;
}

.promo-bgcolor {
    background-color: rgba(21, 43, 60, 0.5);
}

.services-bgcolor {
    background-color: rgba(251, 242, 218, 0.2);
}

.services-title {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 58px;
    color: #D46240;
    text-align: center;
    /* padding: 100px auto 50px auto; */
    padding: 100px 0 50px 0;
    margin: 0;
}

.services-list {
    text-align: center;
    margin: 0;
    padding: 0;
}

.services-list li {
    list-style-type: none;
    display: inline-block;
}

.services-item {
    margin: 0;
    width: 406px;
    padding-right: 30px;
    text-align: center;
}

.services-item img {
    width: 406px;
    position: relative;

}